@charset "UTF-8";
/* CSS Document */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fffbf7;
  font-family: "Open Sans", sans-serif;
}

.navbar {
  background-color: #fffbf7;
}

.navbar-light .nav-item .nav-link {
  color: #025157;
}

.navbar-light .navbar-toggler {
  border-color: #025157;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(3, 81, 77)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.actions {
  text-align: right;
  font-weight: 600;
  font-size: 14px;
}

.actions > * {
  margin-right: 10px;
  margin-left: 10px;
}

.actions a {
  color: #67b54b;
}

.actions button {
  color: white;
  background-color: #67b54b;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 0;
  border-radius: 5px;
}

main {
  margin-top: 285px;
  text-align: center;
}

h1 {
  color: #025157;
  font-family: "Alegreya", serif;
  font-size: 60px;
  margin-bottom: 24px;
}

h4 {
  color: #46484c;
  font-family: "Slabo 27px", serif;
  font-size: 20px;
  margin-bottom: 30px;
}

p {
  color: #8b8b8bcc;
  margin-top: 15px;
}

form {
  height: 55px;
}

input,
button {
  height: 100%;
  border-radius: 8px;
}

input {
  border: 1px solid #b6b6b6;
  padding: 6px 20px;
  width: 60%;
  max-width: 250px;
}

button {
  background-color: #025157;
  color: #fff;
  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 6px 20px;
  margin-left: -10px;
}

figure {
  margin-top: 32px;
}

figure.intro > img {
  width: 70%;
}

.promo {
  display: flex;
  max-width: 70%;
  margin: 100px auto;
  align-items: center;
}

.explanatory-video {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.explanatory-video img {
  width: 120px;
  margin-top: 10px;
}

.publish {
  flex: 1;
}

.publish h3 {
  font-family: "Alegreya", serif;
  font-size: 40px;
  line-height: 48px;
  color: #025157;
}

.publish > p {
  font-size: 16px;
  color: #343434;
  line-height: 1.5;
  margin-bottom: 20px;
}

.publish > form {
  display: flex;
}

.publish > form p {
  color: #025157;
  margin-right: 18px;
}

.success-stories {
  background-color: #a1d683;
  padding: 5% 15%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.success-stories .overview {
  flex: 2;
  padding-right: 100px;
}